/*GLOBAL
=========*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*Colour variables defined*/

:root {
  --backgrColour: darkslategray;
  --headerText: rgba(255, 157, 0, 0.991);
  --whiteColor: white;
}

/*MAIN CONTENT
===============*/

/*Will begin by creating the mobile layout*/

main, section, aside {
  margin: 0;
  padding: 10px; 
  color: var(--backgrColour);
}

main {
  background: var(--whiteColor);
}

/*Header and nav bar
---------------------*/

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center; /*Vertically aligns*/
  box-shadow: 0 1px 8px #ddd;
  background: var(--backgrColour);
}

#nav-heading {
  margin-right: auto; /*Moves the heading to the left*/
  font-size: 2em;
  padding: 0 10px 0 50px;
  color: var(--whiteColor);
  background: var(--headerText);
}

header li {
  list-style: none; /*Gets rid of bulletpoints on links*/
  display: inline-block; /*Places links in a row*/
  padding: 0 10px;
  border-bottom: 3px solid var(--headerText);
}

.navigation {
  margin-right: 85px;
}

header a {
  text-decoration: none; /*Gets rid of the link underline*/
  color: var(--headerText);
  /*transition: all 0.3s ease 0s;*/
}




