/*GLOBAL
=========*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*Colour variables defined*/

:root {
  --backgrColour: darkslategray;
  --headerText: rgba(255, 157, 0, 0.991);
  --whiteColor: white;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*MAIN CONTENT
===============*/

/*Will begin by creating the mobile layout*/




